.Stories {
  display: flex;
  overflow-x: auto; /* Habilita rolagem horizontal */
  /* width: 150%; */
  padding: 10px 0;
  gap: 15px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: max-content;
  margin: 0 auto;
}

.Stories::-webkit-scrollbar {
  display: none;
}

.Story {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  width: 80px;
  cursor: pointer;
}

.imagem-perfil {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  padding: 2px;
  background: linear-gradient(
    45deg,
    #f0b733 0%,
    #ef8f29  25%,
    #dc9a27 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.Story img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
}

.nome-usuario {
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 1260px) {
  #root {
    grid-template-columns: 80px 1fr 10px;
  }
  
  .Stories {
    padding-left: 15px;
  }
}

@media (max-width: 768px) {
  #root {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
  
  .ConteudoCentral {
    grid-column: 1;
    padding: 10px;
  }
  
  .Stories {
    width: 100vw;
    margin-left: -10px;
    padding-left: 15px;
  }
}

@media (max-width: 480px) {
  .Story {
    width: 70px;
  }
  
  .imagem-perfil {
    width: 60px;
    height: 60px;
  }
}