body {
  background: #f5f0f0;
  margin: 0;
  overflow-x: hidden;
}

#root {
  display: grid;
  grid-template-columns: auto 1fr auto; /* Colunas: menu | conteúdo | espaço vazio */
  min-height: 100vh;
}

/* #root {
  display: flex;
  flex-direction: row;
  position: relative;
} */

.conteudoLateralEsquerda {
  width: 15vw;
  background: white;
  position: fixed;
  top: 0;
  bottom: 0;
}

.ConteudoCentral {
  grid-column: 2; /* Ocupa apenas a coluna do meio */
  width: 52vw;
  margin: 0 auto; /* Centraliza dentro da coluna */
  padding: 20px 0;
}

.conteudoLateralDireita {
  
  overflow-y: auto;
}

p {
  margin: 0;
}

@media (max-width: 1024px) {
    .ConteudoCentral {
        width: 0;
    }
}

