body {
  background: #ffffff;
  margin: 0; /* Certifique-se de que não há margens extras */
  overflow-x: hidden; /* Impede a rolagem horizontal */
}

#root {
  display: flex;
  flex-direction: row;
  position: relative; /* Adiciona posicionamento relativo ao #root */
}

.conteudoLateralEsquerda {
  width: 18vw;
  background: white;
  position: fixed; /* Alterado de fixed para absolute */
  top: 0;
  bottom: 0;
}

.conteudoCentral {
  flex: 1;
  width: 30vw;
  padding: 20px;
  overflow-y: auto;
}

.conteudoLateralDireita {
  width: 42vw;
  overflow-y: auto;
}

p {
  margin: 0;
}
